* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    color: #0f0f0f;
    margin: 20px;
    border: #c79f72;

}

body {
    font-family: Arial, sans-serif;
    background-color: #cc9a60;
    background-image: url('https://img.freepik.com/vetores-premium/padrao-sem-emenda-de-pata-de-gato-e-cachorro_251005-266.jpg?w=740');
    color: #333;
    padding: 10px;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.article {
    background-color: #c79f72;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.article-img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

@media (max-width: 768px) {
    .articles {
        grid-template-columns: 1fr;
    }

    .article {
        flex-direction: column;
    }
}
