body {
    background-color: #ebe2d8;
    text-align: center;
    position: relative;
}

.main-title {
    color: #884c10;
    font-family: Rasputin;
    font-size: 100px;
}

.subtitle {
    color: #884c10;
    font-family: Rasputin;
    font-size: 60px;
}

.description {
    color: #884c10;
    font-family: Rasputin;
    font-size: 20px;
}

.button {
    color: #884c10;
    font-size: 35px;
    text-decoration: none;
    font-family: Rasputin;
    transition: text-shadow 0.3s;
}

.button:hover {
    text-shadow: 0 0 5px green;
}

.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
}

nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;  
    margin-left: 10px; /* Espaço entre o texto e a imagem */
}
